body{
    background-color: lightgray;
    height: 100vh;
    width: auto;
    overflow: hidden;
}

:root {
    --tableHeight: 100vh;
    --tableWidth: calc(1.1 * var(--tableHeight));
    
}

h1{
    font-family: sans-serif;
}

nav{
    margin: 0 auto;
    width: var(--tableWidth);
    display: flex;
    justify-content: space-between;
    /* background-color: brown; */
    padding-top: 1em;
}

a{
    text-decoration: none;
    color: white;
    width: 150px;
    background-color: red;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

#gameOver{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
}